<section class="hero-section">
<div class="hero-text half-width">
  <span class="ascii-bug"> &#60; </span>
  <h1 id="hero-hello-txt">Hello,</h1>
  <h1 id="hero-connectis-txt">Connectis!</h1>
  <span class="ascii-bug"> / </span>
  <span class="ascii-bug"> > </span>
</div>
<div class="hero-pics half-width">
  <img id="hero-hand1" src="assets/img/handz/Black-Jacket-6.png">
  <img id="hero-hand2" src="assets/img/handz/Blue-Jacket-6.png">
  <img id="hero-hand3" src="assets/img/handz/Green-Jacket-6.png">
</div>
</section>
